<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>6027</integer>
		<key>attributeModDate</key>
		<date>2010-08-16T02:39:30Z</date>
		<key>createDate</key>
		<date>2010-08-16T02:14:52Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:25Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2C7CEF0F-77EA-492B-A3F8-1F32C65C30B0</string>
		<key>lastModifiedDate</key>
		<date>2010-08-16T02:39:30Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/projects/index.html</string>
		<key>originalSize</key>
		<integer>6027</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32348</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>25248D6C-A80D-4353-B6FC-6229951FAEEB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
