<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>4664</integer>
		<key>attributeModDate</key>
		<date>2010-08-16T02:39:25Z</date>
		<key>createDate</key>
		<date>2008-06-17T03:10:34Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:19Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>91D3D6E9-8283-4CF8-85B9-D68F1AD2CA97</string>
		<key>lastModifiedDate</key>
		<date>2010-08-16T02:39:25Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/index.html</string>
		<key>originalSize</key>
		<integer>4664</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>1417170292</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>53A76718-92EF-4123-9DBE-01140A70B5CB</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
