<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:05Z</date>
		<key>actualSize</key>
		<integer>1130</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:40:56Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:40:56Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:23Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DAA1DD5C-57DA-4A41-A04E-8478C08FFC8D</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:40:56Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/text23.html</string>
		<key>originalSize</key>
		<integer>1130</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>6A9C99F1-8BF9-40FF-A71C-78CB873FDEE6</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
