<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:16Z</date>
		<key>actualSize</key>
		<integer>837</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:10Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:10Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:18Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>4BA06E57-4B20-4FB0-B3F3-7E36D53B5802</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:10Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/img20.html</string>
		<key>originalSize</key>
		<integer>837</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>A86377E1-2E52-45E1-B411-E2DAE9F1D981</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
