<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:10Z</date>
		<key>actualSize</key>
		<integer>215721</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:04Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:04Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:18Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>81954ABC-B4AE-4A24-820D-DD23B2C02C78</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:04Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/img11.png</string>
		<key>originalSize</key>
		<integer>215721</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>3470BA24-BC44-4AB6-A87A-F4A4C63A5842</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
