<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:40:48Z</date>
		<key>actualSize</key>
		<integer>1078</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:40:42Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:40:41Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:18Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>60881772-272C-40EE-BA9F-EA82C1CB4293</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:40:42Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/first.png</string>
		<key>originalSize</key>
		<integer>1078</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>72405009-E086-45B6-9DA5-53B74653E668</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
