<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:17Z</date>
		<key>actualSize</key>
		<integer>1170</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:11Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:10Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:23Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>6E6786EA-BFC8-4E9E-8827-9C61AC3BEA31</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:11Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/right.png</string>
		<key>originalSize</key>
		<integer>1170</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>4C1C1F5E-4D87-4E95-8096-B14EDF9A0DC1</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
