<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:11Z</date>
		<key>actualSize</key>
		<integer>744</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:03Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:03Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:23Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>68A1F3EE-88FB-4446-8DB4-509AC33E5D34</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:03Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/text19.html</string>
		<key>originalSize</key>
		<integer>744</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C317D519-F42F-4E5E-A79F-C80F0C0518F4</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
