<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:22Z</date>
		<key>actualSize</key>
		<integer>202870</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:16Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:16Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:18Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>F7C7898B-41B5-4998-A291-19A69CC856FE</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:16Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/img16.png</string>
		<key>originalSize</key>
		<integer>202870</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F76DA508-BFC4-479A-AD86-0236F6645922</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
