<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:06Z</date>
		<key>actualSize</key>
		<integer>975</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:41:00Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:41:00Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:23Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>D5211D97-057F-4776-A271-2D6765D0829C</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:41:00Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/text16.html</string>
		<key>originalSize</key>
		<integer>975</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>6D786C0C-ECD6-4301-8F4A-3AB75DB93441</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
