<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:40:49Z</date>
		<key>actualSize</key>
		<integer>1159</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:40:40Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:40:40Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:23Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>2CA213AD-61DD-4A78-93D4-D33F80EB69B9</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:40:40Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/last.png</string>
		<key>originalSize</key>
		<integer>1159</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>23FB9E3D-3224-4771-B9C9-D2D68B547E50</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
