<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-11-22T20:41:05Z</date>
		<key>actualSize</key>
		<integer>1121</integer>
		<key>attributeModDate</key>
		<date>2010-11-22T20:40:55Z</date>
		<key>createDate</key>
		<date>2010-11-22T20:40:55Z</date>
		<key>creationDate</key>
		<date>2010-11-22T20:43:29Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>09084133-B596-404F-800C-C30C3BBE9451</string>
		<key>lastModifiedDate</key>
		<date>2010-11-22T20:40:55Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks2/opw10/text7.html</string>
		<key>originalSize</key>
		<integer>1121</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>C58D0493-D09F-4F21-B97D-5C7DCE2F9128</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
