<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>727</integer>
		<key>attributeModDate</key>
		<date>2010-06-25T19:33:57Z</date>
		<key>createDate</key>
		<date>2010-01-16T21:05:52Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:36Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>87869D8C-493D-40E8-A83F-05411AEAF7C0</string>
		<key>lastModifiedDate</key>
		<date>2010-01-16T21:05:52Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks/opw10/text2.html</string>
		<key>originalSize</key>
		<integer>727</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>B1D21FEF-82E0-4E59-B79F-64853E1F4886</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
