<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>202870</integer>
		<key>attributeModDate</key>
		<date>2010-06-25T19:33:57Z</date>
		<key>createDate</key>
		<date>2010-01-16T21:05:50Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:31Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>7E7ECF46-4D34-4188-94B8-D1CF0014DF84</string>
		<key>lastModifiedDate</key>
		<date>2010-01-16T21:05:50Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks/opw10/img16.png</string>
		<key>originalSize</key>
		<integer>202870</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>1137F045-519F-4C23-B343-C8994661254A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
