<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>1056</integer>
		<key>attributeModDate</key>
		<date>2010-06-25T19:33:57Z</date>
		<key>createDate</key>
		<date>2010-01-16T21:05:52Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:36Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>EB8C637B-791D-46B1-87AE-822DF43B1056</string>
		<key>lastModifiedDate</key>
		<date>2010-01-16T21:05:52Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/talks/opw10/text24.html</string>
		<key>originalSize</key>
		<integer>1056</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>8AD6151C-2A88-4E99-A349-18AC74539279</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>503</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
