<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>400</integer>
		<key>attributeModDate</key>
		<date>2010-05-01T01:19:33Z</date>
		<key>createDate</key>
		<date>2008-06-09T23:19:16Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:25Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>66B7424E-D54B-44E8-A677-1066B50C609F</string>
		<key>lastModifiedDate</key>
		<date>2008-06-09T23:19:16Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/images/g.png</string>
		<key>originalSize</key>
		<integer>400</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>F6F1DD9E-9D47-49EE-BAA2-A3C1A9B52A9A</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
