<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accessDate</key>
		<date>2010-09-03T09:56:03Z</date>
		<key>actualSize</key>
		<integer>447</integer>
		<key>attributeModDate</key>
		<date>2010-05-01T01:19:33Z</date>
		<key>createDate</key>
		<date>2008-06-09T23:19:18Z</date>
		<key>creationDate</key>
		<date>2010-09-07T05:53:25Z</date>
		<key>encrypted</key>
		<false/>
		<key>id</key>
		<string>DA4BDD2F-B4AD-4A06-8FBB-E58BB22D137C</string>
		<key>lastModifiedDate</key>
		<date>2008-06-09T23:19:18Z</date>
		<key>originalPath</key>
		<string>/Users/admin/web-devel/dhoss.net/images/h.png</string>
		<key>originalSize</key>
		<integer>447</integer>
		<key>versionMetadataList</key>
		<array>
			<dict>
				<key>POSIXPermissions</key>
				<integer>-32275</integer>
				<key>creatorCode</key>
				<integer>0</integer>
				<key>fileType</key>
				<integer>0</integer>
				<key>id</key>
				<string>028166AC-EB6C-4526-9677-4D5D85A63D47</string>
				<key>macAttributes</key>
				<integer>0</integer>
				<key>ownerGID</key>
				<integer>20</integer>
				<key>ownerUID</key>
				<integer>501</integer>
			</dict>
		</array>
		<key>versionType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
